<%- include('partials/nav') -%>

<!--  -->
<div class="mt-16 md:mt-20 flex flex-col">
 <div
  class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
 >
  <h1
   class="text-white text-center mb-10 text-5xl md:text-6xl"
   id="action-word"
  >
   Huntagram
  </h1>
  <div class="bg-slate-50 px-6 py-8 rounded shadow-md w-full" id="home-card">
   <h2 class="mb-8 text-2xl md:text-3xl text-white text-center">Sign up</h2>
   <form action="/signup" method="post">
    <label class="text-white" for="name">First name</label>
    <input
     type="text"
     class="block border border-black w-full p-3 rounded mb-4"
     name="fullname"
     id="name"
    />

    <label class="text-white" for="username">Username</label>
    <input
     type="text"
     class="block border border-black w-full p-3 rounded mb-4"
     name="username"
     id="username"
    />

    <label class="text-white" for="password">Password</label>
    <input
     type="password"
     class="block border border-black w-full p-3 rounded mb-4"
     name="password"
     id="password"
    />

    <label class="text-white" for="confirm-password">Confirm password</label>
    <input
     type="password"
     class="block border border-black w-full p-3 rounded mb-4"
     name="confirm_password"
     id="confirm-password"
    />

    <button
     type="submit"
     class="w-full text-center py-3 rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none my-1"
     id="sign-up-btn"
    >
     Create Account
    </button>
   </form>
  </div>

  <div class="text-white my-6">
   Already have an account?
   <a id="underlined" class="font-semibold" href="/login">Log in</a>
  </div>
 </div>
</div>
