<%- include('partials/nav') -%>

<!--  -->
<div class="mt-14 md:mt-20 flex flex-col">
 <div
  class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
 >
  <h1
   class="text-white text-center mb-10 text-5xl md:text-6xl"
   id="action-word"
  >
   Huntagram
  </h1>
  <div class="bg-slate-50 px-6 py-8 rounded shadow-md w-full" id="home-card">
   <h2 class="mb-8 text-2xl md:text-3xl text-white text-center">Sign up</h2>

   <!-- validation boxes coming from passport if there is user error in signup -->
   <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
   <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-xs"
    role="alert"
   >
    <%= el.msg %>
   </div>
   <% }) %> <% } %> <% if (locals.messages.info) { %> <% messages.info.forEach(
   el => { %>
   <div
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-xs"
    role="alert"
   >
    <%= el.msg %>
   </div>
   <% }) %> <% } %> <%# end of validation messages %>

   <form action="/auth/signup" method="post">
    <label class="text-white" for="name">Name</label>
    <input
     type="text"
     class="block border border-black w-full p-3 rounded mb-4"
     name="name"
     id="name"
    />

    <label class="text-white" for="username">Username</label>
    <input
     type="text"
     class="block border border-black w-full p-3 rounded mb-4"
     name="username"
     id="username"
    />

    <label class="text-white" for="password">Password</label>
    <input
     type="password"
     class="block border border-black w-full p-3 rounded mb-4"
     name="password"
     id="password"
    />

    <label class="text-white" for="confirmPassword">Confirm password</label>
    <input
     type="password"
     class="block border border-black w-full p-3 rounded mb-4"
     name="confirmPassword"
     id="confirmPassword"
    />

    <button
     type="submit"
     class="w-full text-center py-3 rounded text-white transition ease-in-out duration-500 hover:scale-105 focus:outline-none my-1"
     id="sign-up-btn"
    >
     Create Account
    </button>
   </form>
  </div>

  <div class="text-white my-6">
   <p class="text-white">
    Already have an account?
    <span
     id="underlined"
     class="transition ease-in-out duration-500 hover:scale-105 inline-block"
    >
     <a href="/auth/login" class="" id="underlined">Log in</a>
    </span>
   </p>
  </div>
 </div>
</div>
